<launch>
<node name="camera_lidar_fusion" pkg="camera_lidar_fusion" type="camera_lidar_fusion_node">
	<remap from="/left/camera_info_sub" to="/zed/left/camera_info"/>
</node>
<node name="camera_lidar_fusion_visualization" pkg="camera_lidar_fusion" type="camera_lidar_fusion_visualization_node">
	<remap from="/left/image_rect_color" to="/zed/left/image_rect_color"/>
</node>
</launch>
